header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background: #4a90e2;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
}
#myaccount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#avatar {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 40px;
}
